@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "ax";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(12% 0.042 264.695);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(87% 0.006 286.286);
    --color-secondary-content: oklch(37% 0.044 257.287);
    --color-accent: oklch(48% 0.243 264.376);
    --color-accent-content: oklch(96% 0.007 247.896);
    --color-neutral: oklch(12% 0.042 264.695);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(14% 0.005 285.823);
    --radius-selector: 0rem;
    --radius-field: 0.5rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --font-display: "Atkinson Hyperlegible Next", sans-serif;
    --font-main: Fira Sans, sans-serif;
    --font-title: "Exo", sans-serif;
}
